#block-openlucius-timetracker-openlucius-active-timers h2.block-title {
  font-size: 35px;
  font-weight: 300;
  margin: 0 0 15px;
  padding: 0;
}
#timetracker-form h2.block-title {
  display: none;
}
#timetracker-form {
  position: fixed;
  z-index: 1001;
  bottom: 0;
  left: 0;
  right: 0;
  width: 300px;
  overflow: hidden;
  background-color: #fff;
  border-bottom-width: 0;
  border-top-right-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  transition: box-shadow .5s;
}
.other-users,
.other-users ul {
  display: inline-block;
  float: left;
  width: 120px;
}
#collapsetimer span {
  font-size: 12px;
}
.other-users ul li {
  display: table;
  width: 100%;
}
.other-users ul li .username,
.other-users ul li .case {
  display: table-cell;
  vertical-align: top;
}
.other-users ul li .username {
  text-align: left;
  width: 100px;
}
.other-users ul li .case {
  text-align: right;
}
.other-users ul li a {
  float: right;
}
.other-users,
.other-users ul,
.other-users ul li {
  width: 100%;
}
.other-users ul li {
  list-style-type: none;
}
.other-users ul {
  margin: 0;
  padding: 0;
}
.total-tracked-time {
  line-height: 1.428571429;
  color: #333232;
  font-size: 12px;
  padding: 8px;
}
.page-user .table-responsive th {
  width: 20%;
}
.page-node-time .table-responsive th {
  width: 25%;
}
#chart_div {
  width: 100%;
  height: 500px;
}
#-ol-timertracker-extra-time-form .form-item-message {
  clear: both;
}
.views-field.views-field-time {
  color: #a8a8a8;
}
.time-header {
  position: relative;
  width: 100%;
  display: inline-block;
  padding: 5px 0 0 5px;
}
.time-header .btn span {
  display: inline-block;
  height: 100%;
  width: 12px;
  cursor: pointer;
  padding: 0;
  margin: 0 0 1px;
  text-align: center;
}
.time-header .btn {
  border: 0;
  border-radius: 3px 0 0 3px;
  font-size: 9px;
}
#collapsetimer span {
  width: 100%;
  clear: both;
  display: inline-block;
  padding: 5px;
}
#timetracker-form .other-timer {
  padding: 0;
  clear: both;
  display: inline-block;
}
#timetracker-form .current-time,
#timetracker-form .current-time2 {
  display: inline-block;
  /** Insert colours here */
  border-radius: 0 3px 3px 0;
  padding: 0 7px;
  font-size: 15px;
  text-align: center;
  margin: 0;
  float: left;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 65px;
}
#timetracker-form .current-time,
.time-header .btn {
  float: left;
}
.timer-unfold {
  height: 100%;
  margin: 2px 7px 0 0;
  cursor: pointer;
}
span.current-active-todo a,
span.current-active-todo2 a {
  font-weight: normal !important;
  display: inline-block;
  max-width: 170px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 100%;
}
.time-header .timer-unfold:before {
  content: "\e114";
}
.time-header.collapsed .timer-unfold:before {
  content: "\e113";
}
.current-time {
  color: #008cba;
}
.hide-initially,
.start-node-timer-board.active-timer {
  display: none !important;
}
/** OpenLucius board additions **/
.openlucius-board-item .start-node-timer-board {
  font-size: 10px;
  border-radius: 3px;
  padding: 2px 5px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
@media all and (max-width: 768px) {
  .openlucius-board-item .start-node-timer-board {
    font-size: 16px;
  }
}
aside .region-sidebar-second #block-openlucius-timetracker-openlucius-active-timers {
  margin: 0;
}
aside .region-sidebar-second #block-openlucius-timetracker-openlucius-active-timers h3.block-title {
  font-size: 16px;
  padding: 10px 19px;
  color: #333;
  background-color: #f9f9f9;
  border-color: #ddd;
}
aside .region-sidebar-second #block-openlucius-timetracker-openlucius-active-timers .other-users {
  padding: 0 19px 19px 19px;
}
.ctools-modal-dialog button.close {
  margin-top: 4px;
}
.ctools-modal-dialog .time-tracker-icon {
  flex: 0 0 auto;
}
.ctools-modal-dialog .time-tracker-icon a {
  font-size: 15px;
}
.ctools-modal-dialog .time-tracker-icon a .glyphicon {
  font-size: 15px;
  top: 3px;
}
.ctools-modal-dialog #modal-title .modal-title {
  width: 80%;
}
/* Budget overview */
.page-reports-budgets th:first-child,
.budget-overview-list-row td.list-title-spacer,
.budget-overview-group-row td.group-title-spacer {
  width: 60%;
}
.budget-overview-list-row,
.budget-overview-group-row {
  width: 100%;
}
.budget-overview-group-title {
  display: inline;
  position: relative;
  top: 25px;
}
.budget-overview-group-title.empty-group {
  display: block;
}
.page-reports-budgets th:nth-child(2),
.page-reports-budgets th:nth-child(3),
.budget-overview-list-row td.list-spacer,
.budget-overview-group-row td.group-spacer,
.budget-overview-list-row td.list-start-date,
.budget-overview-group-row td.group-start-date,
.budget-overview-list-row td.list-budget,
.budget-overview-group-row td.group-budget,
.budget-overview-list-row td.list-clocked,
.budget-overview-group-row td.group-clocked {
  width: 10%;
}
.budget-overview-list-row td.list-budget,
.budget-overview-group-row td.group-budget,
.budget-overview-list-row td.list-clocked,
.budget-overview-group-row td.group-clocked,
th.group-clocked,
th.group-budget,
th.list-budget,
th.list-clocked {
  text-align: right;
}
.budget-overview-empty-row {
  height: 34px;
}
.page-reports-budgets #openlucius-timetracker-budget-filter-form .checkbox,
.page-reports-budgets #openlucius-timetracker-budget-filter-form .checkbox + .checkbox {
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 0;
  padding-left: 0;
}
.page-reports-budgets #openlucius-timetracker-budget-filter-form .form-type-checkboxes {
  height: 300px;
  overflow-y: scroll;
}
.page-reports-budgets #openlucius-timetracker-budget-filter-form .form-type-checkboxes > label {
  display: none;
}
.page-reports-budgets #openlucius-timetracker-budget-filter-form button.form-submit {
  width: 100%;
}
.page-reports-budgets #openlucius-timetracker-budget-filter-form button#edit-reset {
  margin-top: 15px;
}
@media screen and (max-width: 767px) {
  .page-reports-budgets .region.region-content.well {
    padding: 19px;
  }
}
#modalContent .modal-title .time-tracker-icon.active-timer {
  display: none;
}
a.start-node-timer {
  color: #bdbdbd;
}
